################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContactWeb1/App_Data/aspnet-ContactWeb1-20180711080907.mdf
