################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContactWeb1/App_Data/aspnet-ContactWeb1-20180711080907.mdf
/ContactWeb1/App_Data/aspnet-ContactWeb1-20180711080907_log.ldf
/ContactWeb1/App_Data/ContactWeb1Context-20180714153331.mdf
/ContactWeb1/App_Data/ContactWeb1Context-20180714153331_log.ldf
